* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

.container {
    margin: 0 150px 0 150px;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 40%;
}

.logo h1 {
    font-size: 26px;
    color: #3252DF;
}

.logo h1 span {
    color: #152C5B;
}

nav ul a {
    text-decoration: none;
    font-size: 16px;
    color: #152C5B;
}

.active {
    color: #3252DF;
}

.line-nav {
    background-color: #E5E5E5;
}



/* Header */





/* Humberger menu */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #3252DF;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Humberger menu Animation */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    background-color: #3252DF;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    background-color: #3252DF;
    transform: rotate(-45deg) translate(-1px, 0px);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}


/* Responsive Breakpoint */

/* Ukuan tablet */
@media screen and (max-width: 1070px) {
    nav ul {
        width: 60%;
    }

    .container {
        margin: 0 40px 0 40px;
    }
}


/* Ukuran Mobile */
@media (max-width: 785px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        /* display: none; */
        position: absolute;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #738af0;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    .container {
        margin: 0 30px 0 px;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}